/* reser magin and paddding*/
body{
    margin: 0 !important;
    padding: 0 !important;
}
.banner{
    border: 1px solid red;
    width: 100%;
    height: 500px;
    background-image: url(banner.png);
    padding: 20px;
}
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green
}
.about-us_sign-in{
    height: 80px;
    width: 100%;
    text-align: right;
   
}
.about, .signin{
    margin-right: 20px;
    text-decoration: none;
    padding: 5px 15px;
     display: inline-block;
}
.signin{
    margin-right: 60px;
    margin-left: 25px;
    border-radius: 20px ;
    border: 3px solid green;
}
.logo{
    background: url(hapoERP.png) center center no-repeat;
    margin-top: 20px;
    height: 100px;
   
}
.text{
    margin-top: 30px;
   text-align: center;
}
.btn-start-now{
    text-align: center;
}
button{
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid green;
    margin-top: 20px;
    cursor: pointer;
}
.center-content{

font-size: larger;

}
.left,.center,.right{
    
    width: 33%;
    display: inline-block;
    text-align: center;
}
span{
 display: block;
}
.text span{
    color: green;
}
img{
    width: 30px;
    height: 30px;
}